body{
    background:  -webkit-repeating-linear-gradient(rgb(41, 132, 243),#40bcf1,#2709d3);
}


h1 {
    text-align: center;
    color: rgb(174, 120, 255);   
    text-decoration: dotted;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 8px 3px 5px rgb(109, 2, 180);
}
/* Омельченко Михайло */
 .pincher {
    background-color: blanchedalmond;
}
.pincher-main {
    display: flex;
    flex-direction: row;
}
.a{
  font-size: x-large;
}
.pincher-text {
    text-align: left;
    font-size: x-large;
    font-family: monospace; 
    font-weight: 800;
    font-style: italic;
}
.pincher-img {
width: 30%;
border-radius: 7%;
box-shadow: 8px 4px 4px rgb(149, 255, 0);
}
.pincher-img:hover{
    width: 40%;
    box-shadow: 0px 0px 10px #222222;
    transition:0.1s;
}
h2 {
    font-size: xx-large;
    text-align: center;
}

/* Авраменко Ярослава */
.taxsa {
    background: -webkit-repeating-linear-gradient(#df6df5,#9b08b8,#080000);
}
.taxsa_img {
    width: 18%;
    border-radius: 7%;
    box-shadow: 8px 4px 4px rgb(106, 0, 129);
}
.taxsa_img:hover {
    width: 35%;
    box-shadow: 0px 0px 10px #222222;
    transition:0.1s;
}
.taxsa_text {
    color: #f1f2f5;
    font-size: x-large;
    font-style: italic; 
    font-weight: 80;
    text-align: center;
}
.opus {
    font-style: italic;
    font-size: xx-large;
    color: rgb(63, 0, 97);
    text-shadow: 8px 3px 3px rgb(89, 0, 140);
}
h2 {
    font-style: italic;
    font-size: xx-large;
    text-shadow: 4px 5px 5px rgb(89, 0, 140);
}
.a {
    font-size: x-large;
    text-decoration: dotted;
    text-align: center;
}

/* Касьян Олександр */
.korgi{
    background: radial-gradient(#4f4ffc,#7abc17,#71df02);
    text-align: left;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    font-style: oblique;
}
.kvad{ 
    width: 500px;
    height: 500px;
    border-radius: 10px;
    
} 
.fact{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Kor1{
    display: flex;
}
.kor2{
    display: flex;
}
.pobeda{
    background-color: orangered;
    width: 100px;
    height: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Гонгало Максим  */


/* Дорошенко Владислав */
.Kolli {
    background-color: rgb(250, 225, 0);
}
.Kolli-img {
    width: 20%;
    border-radius: 12%;
    box-shadow: 9px 5px 5px rgb(43, 0, 255);
    transition:0.1s;
    }
    .Kolli-img2 {
        width: 30%;
        border-radius: 12%;
        box-shadow: 9px 5px 5px rgb(43, 0, 255);
        transition:0.1s;
        }
        .Kolli-img3 {
            width: 30%;
            border-radius: 12%;
            box-shadow: 9px 5px 5px rgb(43, 0, 255);
            transition:0.1s;
            }
            .Kolli-img4 {
                width: 20%;
                border-radius: 12%;
                box-shadow: 9px 5px 5px rgb(43, 0, 255);
                transition:0.1s;
                
                }
                .Kolli-text {
                    font-size: x-large;
                    font-style: italic; 
                    font-weight: 890;
                    
                }
                .Kolli-text2 {
                    font-size: x-large;
                    font-style: italic; 
                    font-weight: 200;
                    text-shadow: 12px 6px 6px rgb(13, 0, 255);
                     }
                     .Kolli-text3 {
                        font-size: x-large;
                        font-style: italic; 
                        font-weight: 400;
                        text-shadow: 12px 6px 6px rgb(0, 33, 124);
                         }


/* Кушик Олександр */




