body {
    margin: 0;
}
header {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 3%, rgba(121,9,94,0.7651435574229692) 74%);
}
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: rgb(12, 11, 29);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: underline;
    font-family: cursive;
}
h1:hover {
    text-shadow: 8px 3px 5px rgb(109, 2, 180);
    font-size: 40px;
    transition: 1s;
    cursor: pointer;
}

h2 {
    font-size: 35px;
    text-align: center;
    font-style: italic;
    text-shadow: 4px 5px 5px rgb(89, 0, 140);
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Омельченко Михайло */
.pincher {
    background-color: blanchedalmond;
    padding: 25px;
}

.pincher-main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
    
}
.pincher-main2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
    border-top: 3px dotted #446c7e;
    
}
.pincher-main3 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
    border-top: 3px dotted #446c7e;
    
}

.a {
    padding: 4px;
    color: yellow;
    background-color: green;
    font-style: italic;
    border-radius: 4px;
    border: 1px solid red;
}
.pincher-link {
    background-color: #71df02;
    color: #080000;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    display: block;
    width: 30%;
    margin: 20px;
    padding: 20px;
    
}
.pincher-link2 {
    background-color: #71df02;
    color: #080000;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    display: block;
    width: 30%;
    padding: 20px;
}
.pincher-link2:hover {
    box-shadow: 5px 5px 10px #222222;
}

.pincher-text {
    text-align: left;
    font-size: x-large;
    font-family: monospace;
    font-weight: 800;
    font-style: italic;
    margin-left: 20px;
    text-shadow: 3px 3px 3px rgb(100, 94, 201);
}

.pincher-img {
    width: 30%;
    border-radius: 7%;
    box-shadow: 9px 5px 5px rgb(43, 43, 46);
}

.pincher-img:hover {
    width: 40%;
    box-shadow: 0px 0px 10px #222222;
    transition: 0.3s;
}

/* Авраменко Ярослава */
.taxsa {
    background: -webkit-repeating-linear-gradient(#df6df5, #9b08b8, #080000);
    padding: 30px;
}


.taxsa_img {
    width: 20%;
    border-radius: 7%;
    box-shadow: 8px 4px 4px rgb(106, 0, 129);
}

.taxsa_img:hover {
    width: 30%;
    box-shadow: 0px 0px 10px #222222;
    transition: 0.1s;
}

.taxsa_text {
    color: #f1f2f5;
    font-size: x-large;
    font-style: italic;
    font-weight: 80;
    text-align: center;
}

.opus {
    font-style: italic;
    font-size: xx-large;
    color: rgb(63, 0, 97);
    text-shadow: 8px 3px 3px rgb(89, 0, 140);
}

.a {
    font-size: x-large;
    text-decoration: dotted;
    font-style: italic;
    font-size: 25px;
    border-radius: 3px;
    border: 1px solid white;

    background-color: rgb(203, 70, 248);
    border: 1px solid #7300b1;
    color: rgb(91, 0, 156);
    transition: 0.3s;
    width: 30%;
    margin-top: 20px;
    padding: 8px;
}
.taxsa-container {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
}


/* Касьян Олександр */
.korgi {
    background: radial-gradient(#4f4ffc, #7abc17, #71df02);
    text-align: left;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-style: oblique;
}

.kvad {
    width: 500px;
    height: 500px;
    border-radius: 10px;

}

.fact {
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Kor1 {
    display: flex;
}

.kor2 {
    display: flex;
}

.pobeda {
    background-color: orangered;
    width: 100px;
    height: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Гонгало Максим  */


/* Дорошенко Владислав */
.Kolli {
    background: linear-gradient(90deg, #6896aa, grey);
    padding: 25px;
    text-align: center;
}
.Kolli-desc {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    gap: 35px;
    justify-content: center;
    border-bottom: 3px dotted #446c7e;

}
.Kolli-link {
    padding: 20px;
    color: white;
    background-color: #6896aa;
    font-style: italic;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid white;
}
.Kolli-link:hover {
    background-color: white;
    border: 1px solid #6896aa;
    color: #6896aa;
    transition: 0.3s;
}
.Kolli-desc1 {
    display: flex;
    margin-bottom: 40px;
      align-items: center;
      margin-top: 20px;
}
.Kolli-desc2 {
    margin-top: 20px;
    display: flex;
    align-items: center;
     flex-direction: row-reverse;
}

.Kolli-img {
    width: 400px;
    border-radius: 10%;
    box-shadow: 9px 5px 5px rgb(43, 43, 46);
    
}
.Kolli-img:hover {
    width: 430px;
    transition: 0.3s;
    box-shadow: 9px 5px 5px rgb(22, 22, 185);
}

.Kolli-text {
    font-size: 20px;
    font-style: italic;

}

.Kolli-text1 {
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    text-shadow: 3px 3px 3px rgb(100, 94, 201);
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
}


/* Кушик Олександр */
.labrador {
    background: linear-gradient(90deg, #0fb173, rgb(65, 13, 185));
    padding: 25px;
    text-align: center;
}
.labrador-desc {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    gap: 35px;
    justify-content: center;
    border-bottom: 3px dotted #ade60f;

}
.labrador-link {
    padding: 15px;
    color: rgb(14, 234, 87);
    background-color: #860707;
    font-style: italic;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid white;
    text-decoration: none;
}
.labrador-link:hover {
    background-color: white;
    border: 1px solid #6896aa;
    color: #6896aa;
    transition: 0.3s;
}
.labrador-desc1 {
    display: flex;
    margin-bottom: 60px;
      align-items: center;
      margin-top: 30px;
}
.labrador-desc2 {
    margin-top: 20px;
    display: flex;
    align-items: center;
     flex-direction: row-reverse;
     margin-bottom: 60px;
}
.labrador-desc3 {
    display: flex;
    margin-bottom: 60px;
      align-items: center;
      margin-top: 30px;
}
.labrador-desc4 {
    margin-top: 20px;
    display: flex;
    align-items: center;
     flex-direction: row-reverse;
}
.labrador-img {
    width: 400px;
    border-radius: 15%;
    box-shadow: 11px 9px 15px rgb(43, 43, 46);
}
.labrador-img:hover {
    width: 500px;
    transition: 0.3s;
    box-shadow: 9px 5px 5px rgb(193, 8, 100);
}
.labrador-text {
    font-size: 40px;
    font-style: italic;

}
.labrador-text1 {
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    text-shadow: 5px 5px 5px rgb(15, 117, 164);
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
}