h1 {
    text-align: center;
    color: blueviolet;
    text-decoration: dotted;
    font-family: Arial, Helvetica, sans-serif;
}
/* Омельченко Михайло */
.mychailo {
    background-color: blanchedalmond;
}
.a{
  font-size: x-large;
}
.text {
    text-align: left;
    font-size: x-large;
    font-family: monospace;
    font-weight: 800;
    font-style: italic;
}
.img {
height: 350px;
width: 450px;
}
.main {
    display: flex;
}
/* Авраменко Ярослава */




/* Касьян Олександр */




/* Гонгало Максим  */


/* Дорошенко Владислав */


/* Кушик Олександр */




